<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="_passWord" value="fk2023"/>
		<add key="_filePath" value="C:\MySavedFolder"/>
	</appSettings>
</configuration>